#jinja2: line_statement_prefix: "%", line_comment_prefix: "##"
# {{ ansible_managed }}
---

# https://github.com/thyepi/ar-vsphere-if-add.git
auto {{ Networks[network].ifname }}
iface {{ Networks[network].ifname }} inet static
        address {{ networks_ip[network][inventory_hostname] | ipaddr('address') }}
        network {{ Networks[network].subnet }}
        netmask {{ Networks[network].netmask }}
        broadcast {{ Networks[network].broadcast }}
% if default_gw_net == network
        gateway {{ Networks[network].gw }}
% endif
% if options is defined
%   for option in options
        {{ option }}
%   endfor
% endif

##- Local Variables:
##- Mode: jinja2
##- End:
